<body>
    <div class="container-fluid">
        <div class="banner-wrapper">
            <div class="banner-header text-center">
                <h1>QR Code Vault</h1>
                <p>Qr codes for different sections of the site can be stored here </p>
            </div>
        </div>
    </div>
        <!-- Slider Item -->
        <div class="speicality-item text-center">
            <div class="speicality-img">
                <img src="assets/img/qrcode_localhost.png" class="img-fluid">

            </div>
            <p>Appointment QR Code</p>
        </div>
        <!-- /Slider Item -->
    

</body>