   <head>
       <style>
           div.container{
               padding-bottom : 75px;
           }
       </style>
   </head>
    <body>

        <div class="container">
            <div class="row align-items-start">
                <div class="col">
                    <p>Appointment QR Code</p>
                    <img src="assets/img/qrcode_localhost.png" width="300" height="200" >
                </div>
                
                    <div class="col">
                        <p>Feedback QR Code</p>
                        <img src="assets/img/qrcode_Feedback.png" width="300" height="200">
                    </div>

                

            </div>
        </div>
    </body>


    
    
