@page
@model DoctorRegisterModel
@{
    ViewData["Title"] = "DoctorRegister";
    var roles = (List<IdentityRole>)ViewData["roles"];
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnDocUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div id="Role" class="form-group">
                <label asp-for="Input.Name"></label>
                <select asp-for="Input.Name" class="form-control" asp-items='new SelectList(roles,"Id","Name")'>
                </select>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>


            <div id="PatId" class="form-group">
                <label asp-for="Input.PatientId"></label>
                <input id="PatId" asp-for="Input.PatientId" class="form-control" />
                <span asp-validation-for="Input.PatientId" class="text-danger"></span>

            </div>

            <div id="DocId" class="form-group">
                <label asp-for="Input.DoctorId"></label>
                <input id="PatId" asp-for="Input.DoctorId" class="form-control" />
                <span asp-validation-for="Input.DoctorId" class="text-danger"></span>

            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Any Registration Errors will appear here </h4>
            <hr />

            <div>
                <p>@ViewData["msg"]</p>

            </div>



        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}  