@Model FYP_Appointment_Booking.Models.Appointment

@{
    ViewData["Title"] = "Create";
}

<h1>Welcome</h1>
 <div class="row">
     <div class="col-md-4">
         <p>You cannot view this apointment as it is not yours</p>
         <a asp-action="Index">Back to List</a>
     </div>
 </div>


    

