@model FYP_Appointment_Booking.Models.Doctor

@{
    ViewData["Title"] = "Delete";
}

<!-- Page Header -->
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">Delete Doctor Details</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Doctors" asp-action="Index">Doctors</a></li>
                <li class="breadcrumb-item active">Delete</li>
            </ul>
        </div>
    </div>
</div>
<!-- /Page Header -->
<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Speciality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Speciality)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="DoctorId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
